

.text-question {
    font-size: 40px;
}
h1{
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
h6{
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
.logoprozorro{
	width:250px;
}
@media screen and (max-width: 576px){
	.bg-fon{
		background: url(../images/31.jpg) no-repeat center center fixed;
                                               background-size: cover;		
											   -moz-background-size:	cover;
												-webkit-background-size:cover;
												-o-background-size: 	cover;
											
        }
}
@media screen and (min-width: 576px){
	.bg-fon{
		background: url(../images/31.jpg) no-repeat center center fixed;
                                               background-size: cover;		
											   -moz-background-size:	  cover;
												-webkit-background-size:  cover;
												-o-background-size:       cover;
}
@media screen and (min-width: 768px){
	.bg-fon{
		background: url(../images/31.jpg) no-repeat center center fixed;
                                               background-size: cover;		
											   -moz-background-size:	  cover;
												-webkit-background-size:  cover;
												-o-background-size:       cover;
        }
}
@media screen and (min-width: 992px){
	body{
		background: url(../images/nedv2.jpg) no-repeat center center fixed;
                                               background-size: cover;		
											   -moz-background-size:	  cover;
												-webkit-background-size:  cover;
												-o-background-size: cover;
        }
		.bg-fon{
			background:none;
		}
}
@media screen and (min-width: 1200px){
	body{
		background: url(../images/nedv2.jpg) no-repeat center center fixed;
                                               background-size: cover;		
											   -moz-background-size:	  cover;
												-webkit-background-size:  cover;
												-o-background-size:       cover;
        }
		.bg-fon{
			background:none;
		}
}