

.text-question {
    font-size: 40px;
}

h1 {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h6 {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.logoprozorro {
    width: 250px;
}

@media screen and (max-width: 576px) {
    body {
        background: url(../images/nedv3.jpg) no-repeat top center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    .form-item {
        padding: 0;
    }
    .text-item {
        padding: 20px 50px;
    }
    .logo-item {
        margin: 0;
    }
}

@media screen and (min-width: 577px) {
    body {
        background: url(../images/nedv3.jpg) no-repeat top center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    .form-item {
        padding: 0;
    }
    .text-item {
        padding: 20px 50px;
    }
    .logo-item {
        margin:  0;
    }

    .bg-fon {
        background: url(../images/nedv3.jpg) no-repeat top center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    body {
        background: url(../images/nedv3.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    .form-item {
        padding: 50px;
    }
    .text-item {
        padding: 50px;
    }
    .logo-item {
        margin: 50px 0;
    }
}

@media screen and (min-width: 992px) {
    body {
        background: url(../images/nedv3.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    .form-item {
        padding: 50px;
    }
    .text-item {
        padding: 50px;
    }
    .logo-item {
        margin: 50px 0;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: url(../images/nedv3.jpg) no-repeat center center fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }

    .form-item {
        padding: 50px;
    }
    .logo-item {
        margin:50px 0;
    }
    .text-item {
        padding: 50px;
    }
}
