body{
   background: url(../images/main.jpg) no-repeat center center fixed;
                                               background-size: cover;
                                       }

.text-question {
    font-size: 40px;
}
h1{
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
h6{
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
.logoprozorro{
	width:250px;
}